# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env*
*.sqlite3
htechbtp-7f597-firebase-adminsdk-fbsvc-dfb1001407.json
__pycache__/*
server/smartsiteapi/.env.yaml
server/smartsiteapi/db.sqlite3
*.pyc
**/__pycache__/